:root {
  --back-color: #ffffff;
  --card-color: #d9d9d9;
  --font-color: #1b1b1b;
  --ligther-font-color: #6f6f6f;
  --main-color: #2b4eeb;
}

.header_bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: var(--card-color);
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

.notification_icon {
  cursor: pointer;
  font-size: 20px;
  margin-right: 15px;
}

.header_bar .user_data {
  display: flex;
  align-items: center;
}

.header_bar .user_data .user_personal_information {
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
}

.header_bar .user_picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color);
  margin: 0 20px;
}

.home_body {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100vh;
  margin-top: 15px;
}

.left_side {
  width: 75%;
}

.statistics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.statistics .statistics_card {
  background-color: var(--card-color);
  padding: 15px 20px;
  border-radius: 10px;

  h1 {
    color: var(--main-color);
    padding: 5px 0;
  }

  .last_update {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
}

.chart_table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 15px;
  padding: 20px 40px 50px 40px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: var(--card-color);

  h3{
    align-self: flex-start;
    margin-bottom: 20px;
  }
}

.table {
  display: flex;
  justify-content: center;
  background-color: var(--back-color);
  border-radius: 20px;
  width: 100%;
  height: 300px;
}

.rigth_side {
  width: 25%;
}
