:root {
  --back-color: #ffffff;
  --card-color: #d9d9d9;
  --font-color: #1b1b1b;
  --ligther-font-color: #6f6f6f;
  --main-color: #2b4eeb;
}

.layout {
  display: flex;
  margin: 1.5%;
  box-sizing: border-box;
  width: 97vw;
  min-height: 100vh;
  gap: 1rem;
}

.side_bar {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--back-color);
  border-radius: 10px;
}

.side_bar .header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .logo {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--main-color);
  }
  h3 {
    margin-left: 5px;
    color: var(--font-color);
  }
}

.side_bar .nav_bar {
  h3 {
    color: var(--font-color);
    position: relative;
  }
  h3::after {
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    content: "";
    background-color: var(--ligther-font-color);
    position: absolute;
  }
}

.side_bar .general {
  margin-top: auto;
}

.side_bar .nav_bar_buttons,
.side_bar .tools_buttons {
  display: flex;
  flex-direction: column;

  .nav_bar_button {
    .icon {
      font-size: 15px;
      margin-right: 5px;
      transition: 0.2s ease-in-out;
    }

    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--card-color);
  }
}

.nav_bar_buttons .nav_bar_button:hover,
.tools_buttons .nav_bar_button:hover {
  background-color: var(--main-color);
  color: var(--back-color);
}

.content {
  width: 85%;
  padding: 20px;
  background-color: var(--back-color);
  border-radius: 10px;
}
