:root {
  --back-color: #ffffff;
  --card-color: #d9d9d9;
  --font-color: #1b1b1b;
  --ligther-font-color: #6f6f6f;
  --main-color: #2b4eeb;
  --main-color-hover: #133ae7;
}

.container {
  height: 100vb;
  background-color: var(--back-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container1 {
  height: 100vh;
  background-color: var(--back-color);
  display: flex;
  align-items: center;
  justify-content: center;

}
.log_in_page {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 90vh;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--card-color);
}

.registration_form {
  width: 50%;
  margin: 20px 50px;
  padding: 10px;
}
.registration_form1 {
    margin-top: 130px;

 width: 50%;
  padding: 10px;
}
.header {
  display: flex;
  align-items: center;
  .logo {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 20px;
    background-color: var(--main-color);
  }
  .details h1 {
    color: var(--main-color);
  }
  .details p {
    font-size: 20px;
    font-weight: 600;
  }
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container .login {
  margin-top: 50px;
}

.form_container .register {
  margin-top: 10px;
}

.form_container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
}

.form_container form input {
  width: 90%;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 15px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
}

.form_container form h5,
.form_container p {
  font-size: 16px;
  font-weight: 500;
  span {
    cursor: pointer;
    color: var(--main-color);
  }
}

.form_container form .log_in_btn,
.form_container form .create_account {
  background-color: var(--main-color);
  color: var(--back-color);
  cursor: pointer;
  margin: 15px 0;
  transition: 0.2s ease-in-out;
}

.form_container form .log_in_btn:hover,
.form_container form .create_account:hover {
  background-color: var(--main-color-hover);
  transform: scale(1.05);
}

.singup_btn {
  width: 50%;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 15px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: var(--back-color);
  color: var(--main-color);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.img {
  padding: 10px;
  border-radius: 20px;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  background-color: var(--back-color);
}
